<div class="row">
	<aside class="col-md-3 hidden-sm hidden-xs">
		<h2>Basic Information</h2>
		<p>Class Time: MoWe 12:30-1:50</p>
		<p>Class Location: ICS 174</p>
		<p>Perusall: <a href="https://app.perusall.com/courses/in4matx-153-cscw/">https://app.perusall.com/courses/in4matx-153-cscw/</a></p>
		<p>Poll Everywhere: <a href="https://pollev.com/epstein">https://pollev.com/epstein</a></p>
		<p>Canvas: <a href="https://canvas.eee.uci.edu/courses/62680">https://canvas.eee.uci.edu/courses/62680</a></p>
		<p>Email: <a href="epstein@ics.uci.edu">epstein@ics.uci.edu</a></p>
		<p>Office hours:</p>
		<p>Professor Epstein: We 2:00-3:00, DBH 6093</p>
		<p>TA Wang: Mo 2:00-3:00, DBH ????</p>
		<p>Reader Du: TBD</p>
		<h2>Course Staff</h2>
		<a href="http://depstein.net">Professor Daniel Epstein</a>
		<a href="https://dwnnis.github.io">TA Dennis Wang</a>
		<a href="https://weijies-portfolio-fc7aed.webflow.io/">Reader Weijie Du</a>
	</aside>
	<main class="col-md-9 col-sm-12">
		<p>Welcome! This class focuses on Computer Supported Cooperative Work, with a particular emphasis on Social Computing/Social Media. People regularly socialize and work with one another online. Understanding how technology supports as well as inhibits socialization and work can lead to better designed technologies in the future, as well as more thoughtful critique and policy surrounding these technologies.</p>
		<h2>Course Staff</h2>
		<div class="row">
    		<div class="col-4">
    			<p>Professor Daniel Epstein</p>
    			<img class="d-none d-lg-block" src="assets/images/epstein.jpg" alt="picture of Professor Epstein" width="200px">
    		</div>
    		<div class="col-4">
    			<p>TA Dennis Wang</p>
    			<img class="d-none d-lg-block" src="assets/images/dwang.jpg" alt="picture of Dennis Wang" width="200px">
    		</div>
    		<div class="col-4">
    			<p>Reader Weijie Du</p>
    			<img class="d-none d-lg-block" src="assets/images/wdu.jpg" alt="picture of Weijie Du" width="200px">
    		</div>
    	</div>
		<h2>Repository</h2>
		<p>This website is live on GitHub: <a href="https://github.com/uci-inf-153/inf153-sp24" target="_blank">https://github.com/uci-inf-153/inf153-sp24</a>. You can create issues if information is unclear, incorrect, or out-of-date. You can even submit a pull request to resolve them yourself!</p>
		<h2>Acknowledgments</h2>
		<p>This course pulls content and readings from <a href="https://www.nazaninandalibi.net/">Nazanin Andalibi</a>, <a href="https://hci.stanford.edu/msb/">Michael Bernstein</a>, and <a href="https://oliverhaimson.com/">Oliver Haimson</a>. Thanks, everyone!</p>
	</main>
</div>