<main class="container-fluid">
    <h1>Assignment 2: Analyzing Defunct Social Platforms</h1>
    <h3>Due 11:59pm May 8, 2024</h3>
    <h2>Assignment Description</h2>
    <p>They say that history is often written by the victors (this quote is often misattributed to Winston Churchill). Will the story of social platforms be the same? In understanding what made some of the internet's early social platforms take off (at least somewhat), and then crash, you will get a deeper sense of what a platform truly needs in order to support people's social needs. Further, you'll better understand the roots of today's social technologies, and why they are designed the way that they are.</p>
    <p>Choose one of the platforms listed below, and do some research into it's existence. One note: <strong>please do not select a platform that you have used before</strong>. The goal is to try to understand a platform's capabilities and lifecycle better, rather than reflect on your experiences with the platform. We expect that you may have heard of some of these platforms, but that you have used none or only a couple of them.</p>
    <p>The platforms we recommend are:</p>
    <ul>
        <li>AOL Instant Messenger (AIM)</li>
        <li>Friendster</li>
        <li>Google+</li>
        <li>LiveJournal</li>
        <li>MySpace</li>
        <li>Vine</li>
        <li>Yik Yak</li>
    </ul>
    <p>You may also suggest another platform that you are interested in learning more about (again, that you have not used). If you are interested in suggesting a platform, please email the course staff at least a week before the assignment deadline.</p>
    <h3>Doing research</h3>
    <p>We expect that you will do your own research into the rise, use, and ultimate demise of these platforms. That said, we're well aware that others have written extensively on these topics, and have useful context to provide. Wikipedia is often a good resource for understanding what the platform does, and some facts about its usage and decline. But in our experience, it's fairly light on unpacking the social benefits that the platform provided (or aimed to provide), and lacking some references to truly understand its demise. We expect that you will have to supplement this search with watching other videos on how the platform worked, reading articles written at the time of it's popularity and decline, and scholarly articles about what made that technology unique or interesting.</p>
    <h2>Submission</h2>
    <p>You will submit a single PDF file as part of this assignment. Submissions will be made to <a href="https://canvas.eee.uci.edu/courses/62680/assignments/1384363">Canvas</a>.</p>
    <h3>Submission format</h3>
    <p>Please submit the following file:</p>
    <ul>
       <li><code>writeup.pdf</code>: your writeup of the the defunct platform. We expect it will take approximately 1,000 words to adequately answer these questions (4 pages, double spaced, excluding references). You may find it helpful to include images of the system or other figures to make your case; these may also result in a writeup that is longer in terms of number of pages.</li>
    </ul>
    <h3>Writing up</h3>
    <p>In your writeup, include (please use numbers and/or headings to differentiate these sections):</p>
    <ol>
       <li>A sentence stating which platform you picked. This should be the first sentence of your writeup.</li>
       <li>An analysis of the <em>technical design</em> of the social platform. How did it support people in communicating with one another? Specifically, this section should answer:
        <ul>
            <li>What is the <em>Form</em> of content in this platform, and <em>From</em> whom or where does content appear? All of the platforms have been categorized in Appendix B of the <a href="https://arxiv.org/abs/2402.05388">Form-From paper</a>; justify why that categorization feels appropriate given the design of the platform.</li>
            <li>How does the platform implement other key design characteristics? Referring to the full dimensions in the Form-From paper (Appendix A), please describe how the platform implements Archiving (A.3.3), Anonymity to Other Users (A.9.2), Communication Media/Content Type (A.10.1), Structuring of a Post (A.10.1) and Post Meta-Data (A.10.5), and justify why you categorized the platform the way you did. As appropriate, you can pick other dimensions of the Form-From taxonomy where this system stands out.</li>
            <li>How does the technical design of this defunct platform compare to that of today's platforms? Have the key features been largely replicated by today's social platforms, and if so, which one(s)? Are there features which today's social platforms do not implement, and if so, what social capabilities are gained or lost as a result?</li>
        </ul>
       <li>An analysis of the <em>social goals</em> of the platform. What sort of social relationships, and communication needs, was this platform aiming to support? Specifically, this section should answer:</li>
        <ul>
            <li>What does <em>dramaturgy</em> suggest about the goals of this platform? Was the platform intended to be for front stage communication? Back stage? Both, or something in between? Justify your analysis by considering the platform's features as well as the descriptive norms.</li>
            <li>What ties was this platform intended for? Was this platform intended to be for strong ties? Weak ties? No ties? Some combination? Justify your analysis as well as the descriptive norms.</li>
        </ul>
        <li>An analysis of the <em>rise and fall</em> of the platform. Why did the platform take off, and why is it no longer prevalent? Specifically, this section should answer:</li>
        <ul>
            <li>How did the platform augment, and enhance, our social communication capabilities when it was popular? We expect this description to go beyond numerical facts and figures about the platform's peak usage numbers and the date that the platform shut down. Instead, aim to contextualize the other technologies that were popular at the same time as this platform, and articulate how the platform added to that environment.</li>
            <li>What changed in our environment to cause this platform's usage to fade? In many cases, this is because a "better" platform came around and people migrated to it; what made that platform "better"? In other cases, the platform had some problems or challenges which presented it from taking off as much as the creators intended; what might have interfered with the platform's success?</li>
        </ul>
       <li>References to articles or videos which informed your understanding of the platform. References do not need to be scholarly articles. Some of these topics may be discussed in blog posts or news articles from the time. Videos may help you make sense of how the platform worked. We expect that multiple references will be necessary to answer the above questions; we wouldn't be surprised for a high-quality writeup to include 10 or more references.</li>
    </ol>
    <h2>Grading</h2>
    <p>Your grade will be broken down as follows, with description of what is required for the maximum score (mastery) in each category:</p>
    <ul>
       <li><strong>Technical Design (5 points):</strong> Description of the technical design shows accurate understanding of the platform's capabilities, and thoughtful comparison between the design of the defunct platform and modern platforms.</li>
       <li><strong>Social Goals (4 points):</strong> Writeup depicts consideration of what sorts of self-presentation goals and social relationships the platform was intended to support.</li>
       <li><strong>Rise and Fall (5 points):</strong> Articulation of what social capabilities the platform provided relative to other social technologies at the time, and how the technological environment changed to make that platform obsolete.</li>
       <li><strong>Format (1 point)</strong>: Assignment is in the correct format and includes relevant references.</li>
    </ul>
 </main>